@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Light color for visibility on dark background */
  border-radius: 10px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6); /* Lighter color on hover */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Styling for dark mode */
.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Subtle light color for dark mode */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Lighter on hover for dark mode */
}

/* Styling for light mode */
body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Darker scrollbar for light mode */
}

body ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Darker on hover for light mode */
}

.loader {
  border-top-color: #3498db; /* Customize this color */
  animation: spinner 1s ease-in-out infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6b7280;
  animation: dot-bounce 1.2s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: -0.24s;
}

.dot:nth-child(2) {
  animation-delay: -0.12s;
}

.dot:nth-child(3) {
  animation-delay: 0s;
}

@keyframes dot-bounce {
  0%,
  80%,
  100% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(1.2);
  }
}
